# General
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env

# Java
*.class
*.jar
*.war
*.ear
target/
.gradle/
build/

# Logs
*.log

# OS
*.swp
*.tmp

# Make
*.o
